/* Importing Google Fonts - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #0A092D;
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  /* Overlay the background image */
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 4rem;
  /* Add space for the fixed header */
}

.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.site-header {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1000;
}

.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}